body {
  background-color: #fff;
}

.main .slds-scrollable {
  height: 100%;
}

.sidebar-info {
  position: relative;
  height: auto;
  margin-right: 2px;
}

.slds-list_horizontal .slds-item_label { width: 50%; }
.slds-list_horizontal .slds-item_detail { width: 50%; }

.main .slds-tabs_default__content {
  height: calc(100vh - 97px);
  padding: 0;
}

@media screen and (max-width: 768px) {
  .main .slds-tabs_default__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }

  .sidebar-info {
    position: absolute;
    height: 100%;
    z-index: 999;
    margin-right: 0;
  }
}

