body {
  background-color: #fff;
}

.main .slds-scrollable {
  height: 100%;
}

.sidebar-info {
  position: relative;
  height: auto;
  margin-right: 2px;
}
.navbar {
  height: 56px;
  padding: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .18);
}

.slds-list_horizontal .slds-item_label { width: 50%; }
.slds-list_horizontal .slds-item_detail { width: 50%; }
.slds-popover_walkthrough { z-index: auto; }
.slds-button_icon-size {
  width: 48px;
  height: 48px;
}
.slds-button[disabled], .slds-button:disabled {
  background: #c9c7c5;
  border-color: #c9c7c5;
  color: #fff;
}
.slds-popover_walkthrough th.slds-text-title_caps {
  color: #2196f3;
}
.logo-container {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.main .slds-tabs_default__content {
  height: calc(100vh - 97px);
  padding: 0;
}

@media screen and (max-width: 768px) {
  .main .slds-tabs_default__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }

  .sidebar-info {
    position: absolute;
    height: 100%;
    z-index: 999;
    margin-right: 0;
  }
}

